<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>index</title>
    <script type="text/javascript" src="../static/js/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div style="text-align: center">
        <h1 style="font-size: 20px;font-weight: bold">流量统计页面</h1>
    </div>
    <div>
        <form action="/handle/" method="post">
            <div style="float: left">
                <b style="font-weight: bold">起始时间</b>
                <input type="datetime-local" step="1" name="start_time">
            </div>
            <div style="float: left;margin-left: 15px;">
                <b style="font-weight: bold">结束时间</b>
                <input type="datetime-local" step="1" name="end_time">
                <p></p>
            </div>
            <table style="width: 100%" border="0" cellpadding="4" cellspacing="0">
                <tbody>
                    <tr>
                        <td>
                            <select id="host_data_in_id" multiple name="host_data_in" size="12">
                                <!--<option value="0">!--- 请选择主机 ---!</option>-->
                                {% comment %}{% for item in data %}
                                    <option value="{{ item.description }}">{{ item.description }}</option>
                                {% endfor %}{% endcomment %}
                            </select>
                        </td>
                        <td>
                            <input type="button" name="addToGroup" value=" >> " onclick="addToGroup_f()">

                            <input type="button" name="remFromGroup" value=" << " onclick="remFromGroup_f()">
                        </td>
                        <td>
                            <select id="host_data_out_id" style="margin-right: 500px" multiple="true" name="host_data_out" size="12">
                                {% for item in data %}
                                    <option value="{{ item.description }}">{{ item.description }}</option>
                                {% endfor %}
                            </select>
                            <!--<select id="host_data_out_id" style="margin-right: 500px" multiple name="host_data_out" size="12">
                                <option value="0">!--- 选中的主机 ---!</option>
                            </select>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            <p></p>
            <b>运营商:</b>
                <select id="operator_select" name="operator_data">
                    <option value="0">selected</option>
                </select>
            <p></p>
            <b>计算方法:</b>
                <select id="compute_select" name="compute_data">
                    <option value="0">selected</option>
                </select>
            <p></p>
            <b>区域:</b>
                <select id="area_select" name="area_data">
                    <option value="0">selected</option>
                </select>
            <p></p>
            <b>业务线:</b>
                <select id="service_line_select" name="service_line_data">
                    <option value="0">selected</option>
                </select>
            <p></p>
            <input type="submit" value="提交">
        </form>
    <div><a href="http://192.168.137.2:9000/get_operator_month_count/">查看运营商月流量统计</a></div>
    </div>
</body>
<script>
    function addToGroup_f(data){
        //var option = $("<option>").text(data);
        //console.log(option);
        //var option = $("<option>").text(data).attr({value:data});
        var option = $('option').text(data).attr({value:data});
        console.log(option);
        $('#host_data_out_id').append(option);
    };
    $('#host_data_in_id option').select(function () {
        var old_data = $(this).text();
        console.log(old_data);
        $("input[name='addToGroup']").click(function () {
            addToGroup_f(old_data);
            console.log(addToGroup_f(old_data));
        });
        //$('#host_data_out_id').addToGroup(old_data,old_data);
        //console.log(addToGroup_f(old_data,old_data));
        //console.log(data_in);

        //console.log(data_in);
        /*var data_in = $(this);
        var data_out = $('#host_data_out_id');
        console.log();
        addToGroup_f(data_in,data_out);
        console.log;*/
    });
    $.ajax({
        url:'/show_operator/',
        type:'GET',
        success:function (data) {
            $('#operator_select').empty();
            $('#operator_select').append("<option>selected</option>");
            $.each($.parseJSON(data),function (k,v) {
                $("#operator_select").append("<option value='"+v.id+"'>"+v.operator+"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $.ajax({
        url:'/show_compute/',
        type:'GET',
        success:function (data) {
            $('#compute_select').empty();
            $('#compute_select').append("<option>selected</option>");
            $.each($.parseJSON(data),function (k,v) {
                $("#compute_select").append("<option value='"+v.id+"'>"+v.compute+"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $.ajax({
        url:'/show_area/',
        type:'GET',
        success:function (data) {
            $('#area_select').empty();
            $('#area_select').append("<option>selected</option>");
            $.each($.parseJSON(data),function (k,v) {
                $("#area_select").append("<option value='"+v.id+"'>"+v.area+"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $.ajax({
        url:'/show_service_line/',
        type:'GET',
        scriptCharset:'utf-8',
        success:function (data) {
            $('#service_line_select').empty();
            $('#service_line_select').append("<option>selected</option>");
            $.each($.parseJSON(data),function (k,v) {
                $("#service_line_select").append("<option value='"+v.id+"'>"+v.service_line+"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
</script>
</html>