<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>index</title>
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap-datetimepicker.min.css">
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <script src="../static/js/bootstrapValidator.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../static/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <style>
        .row-space{
            margin-bottom: 15px;
        }
        .dropdown-list-left{
            float: left;
        }
        .dropdown-list-right{
            float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row row-space">
            <div class="col-md-12">
                <h1 class="page-header text-center">流量统计页面</h1>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-7 text-center">
                    <a href="{% url 'get_operator_month_count' %}" class="btn btn-primary">运营商月流量统计</a>
                    <a href="{% url 'get_area_month_count' %}" class="btn btn-primary">区域月流量统计</a>
                    <a href="{% url 'get_service_line_month_count' %}" class="btn btn-primary">业务线月流量统计</a>
                </div>
                <div class="col-md-2">
                    <div class="btn-group" style="float:right;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            配置<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'host_group' %}">主机分组</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-space">
            <form id="form_handle" class="form-group" action="/handle/" method="post">
                <div class="row row-space">
                    <div class="col-md-6">
                        <input type="text" id="start_time" name="start_time" style="float: right;" placeholder="yyyy-mm-dd hh:ii:ss"><strong style="float: right;margin-right: 10px">起始时间</strong>
                    </div>
                    <div class="col-md-6">
                        <input type="text" id="end_time" name="end_time" placeholder="yyyy-mm-dd hh:ii:ss"><strong style="float: left;margin-right: 10px">结束时间</strong>
                    </div>
                </div>
                <div class="col-md-4">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <select id="host_data_in_id" multiple="true" name="host_data_in" size="12">
                                        {% for item in data %}
                                            <option value="{{ item.description }}">{{ item.description }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="button" id="addToGroup" value=" >> ">

                                    <input type="button" id="remFromGroup" value=" << ">
                                </td>
                                <td>
                                    <select id="host_data_out_id" multiple="true" name="host_data_out" size="12" style="margin-right: 500px">
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td>
                                    <select id="group_list_id" multiple="false" name="group_list" size="12">
                                        {% for item in group_name_list %}
                                            <option value="{{ item.group_name }}">{{ item.group_name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <select id="group_to_host_list_id" multiple="true" name="group_to_host_list" size="12">
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="cancel_group" class="btn btn-danger" type="button">清空主机</button>
                </div>
                <div class="col-md-4">
                    <select id="operator_select" name="operator_data">
                        <option value="0">运营商</option>
                    </select>
                    <select id="compute_select" name="compute_data">
                        <option value="0">计算方法</option>
                    </select>
                    <select id="area_select" name="area_data">
                        <option value="0">区域</option>
                    </select>
                    <select id="service_line_select" name="service_line_data">
                        <option value="0">业务线</option>
                    </select>
                    <button id="commint_button" class="btn btn-primary" type="submit" style="margin-top: 150px;margin-left: 230px">OK</button>
                    <button class="btn btn-danger" type="reset" style="margin-top: 150px;float: right">CANCEL</button>
                </div>
            </form>
        </div>
        <div class="row row-space">
            <div class="col-md-12 text-center">
                <strong>Butel运维网管支撑部</strong>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $.ajax({
        url:'/show_operator/',
        type:'GET',
        success:function (data) {
            $("#operator_select").empty();
            $("#operator_select").append("<option value=\"0\">运营商</option>")
            $.each($.parseJSON(data),function (k,v) {
                $("#operator_select").append("<option value='"+ v.id +"'>"+ v.operator +"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $.ajax({
        url:'/show_compute/',
        type:'GET',
        success:function (data) {
            $("#compute_select").empty();
            $("#compute_select").append("<option value=\"0\">计算方法</option>")
            $.each($.parseJSON(data),function (k,v) {
                $("#compute_select").append("<option value='"+ v.id +"'>"+ v.compute +"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $.ajax({
        url:'/show_area/',
        type:'GET',
        success:function (data) {
            $("#area_select").empty();
            $("#area_select").append("<option value=\"0\">区域</option>")
            $.each($.parseJSON(data),function (k,v) {
                $("#area_select").append("<option value='"+ v.id +"'>"+ v.area +"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $.ajax({
        url:'/show_service_line/',
        type:'GET',
        success:function (data) {
            $("#service_line_select").empty();
            $("#service_line_select").append("<option value=\"0\">业务线</option>")
            $.each($.parseJSON(data),function (k,v) {
                $("#service_line_select").append("<option value='"+ v.id +"'>"+ v.service_line +"</option>");
            });
        },
        error:function () {
            console.log('failed');
        },
    });
    $("#start_time").datetimepicker({
        format: 'yyyy-mm-ddThh:ii:ss'
    });
    $("#end_time").datetimepicker({
        format: 'yyyy-mm-ddThh:ii:ss'
    });
    var selected_host_out_id = $('#host_data_out_id');
    $("#addToGroup").on('click',function () {
        var html = "";
        $('#host_data_in_id option:selected').each(function () {
           var option = $(this);
           if(selected_host_out_id.find("option[value="+ option.val() +"]").length == 0) {
               if (option.hasClass('menuA')) {
                   selected_host_out_id.append("<option selected value='"+ option.val() +"' class='menuA'>"+ option.text() +"</option>");
               }else{
                   selected_host_out_id.append("<option selected value='"+ option.val() +"'>"+ option.text() +"</option>");
               }
           }else {
               alert('主机已经添加过');
           }
        });
    });
    $('#remFromGroup').on('click',function () {
       $('#host_data_out_id option:selected').remove();
    });
    $('#group_list_id option').click(function () {
        var group_name = $(this).val();
        $.ajax({
            url:'/get_group_to_host_list/',
            type:'POST',
            data:{"group_name":group_name},
            success:function (data) {
                $("#group_to_host_list_id").empty();
                $.each($.parseJSON(data),function (k,v) {
                    $("#group_to_host_list_id").append("<option selected value='"+v.description+"'>"+v.description+"</option>");
                });
            },
            error:function () {
                console.log('failed');
            },
        });
    });
    var choice_host = $("#host_data_out_id");
    var choice_group = $("#group_to_host_list_id");
    $("#commint_button").click(function () {
        var choice_host_length = choice_host.find("option").length;
        var choice_group_length = choice_group.find("option").length;
        var start_time = $("#start_time").val();
        var end_time = $("#end_time").val();
        var choice_operator = $("#operator_select").val();
        var choice_compute = $("#compute_select").val();
        console.log(choice_operator);
        console.log(choice_compute);

        if (choice_host_length == 0 && choice_group_length == 0){
            alert('没有选择主机');
            return false;
        }else if (choice_host_length > 0 && choice_group_length > 0){
            alert('只能通过一种方式选择主机');
            return false;
        }else if (start_time == "" || start_time == null){
            alert('请选择开始时间');
            return false;
        }else if (end_time == "" || end_time == null){
            alert('请选择结束时间');
            return false;
        }else if (choice_operator == 0 || choice_compute == 0){
            alert('运营商和计算方法两个必须全部选中');
            return false;
        }
    });
    $("#cancel_group").click(function () {
       $("#group_to_host_list_id").empty();
    });
</script>
</html>